body{
    background:#f5f1e3
}
.steering{
    width:300px;
    height:300px;
    background:url("https://upload.wikimedia.org/wikipedia/commons/3/34/Steering_wheel_ship_1.png") center no-repeat;
    background-size:100%;
    position:fixed;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-150px;
    -webkit-animation:rotateWheel 5s infinite;
    animation:rotateWheel 5s infinite
}
@-webkit-keyframes rotateWheel{
    0%{
        transform:rotate(0deg)
    }
    20%{
        transform:rotate(180deg)
    }
    40%{
        transform:rotate(90deg)
    }
    60%{
        transform:rotate(270deg)
    }
    80%{
        transform:rotate(180deg)
    }
    100%{
        transform:rotate(0deg)
    }
}
@keyframes rotateWheel{
    0%{
        transform:rotate(0deg)
    }
    20%{
        transform:rotate(180deg)
    }
    40%{
        transform:rotate(90deg)
    }
    60%{
        transform:rotate(270deg)
    }
    80%{
        transform:rotate(180deg)
    }
    100%{
        transform:rotate(0deg)
    }
}
 body{
    margin:0px;
    padding:0px
}
 .pirate{
    display:flex;
    justify-content:center;
    align-items:center;
    height:80%
}
 .text{
    margin-right:.6em;
    height:17vw;
    display:flex;
    flex-direction:column;
    justify-content:space-between
}
 .text p{
    font-family:"Raleway",sans-serif;
    text-transform:uppercase;
    font-size:7vw;
    color:gold;
    text-align:right;
    margin:0px;
    padding:0px;
    line-height:.7
}
 .hat{
    height:17vw
}
 .top{
    overflow:hidden;
    display:flex;
    align-items:top;
    height:9.2vw;
    width:13.1vw;
    margin-bottom:.7vw
}
 .top .top-color{
    background-color:gold;
    border-top-right-radius:30em;
    height:14em;
    width:14em
}
 .top .top-color .hash-1{
    position:relative;
    transform:rotate(-30deg);
    top:5vw;
    left:9.4vw;
    height:2.6vw;
    width:.2vw;
    background-color:transparent;
    border-right:.25em solid #444;
    border-bottom:.2em solid #444;
    border-top:.1em solid #444;
    border-top-right-radius:3em;
    border-bottom-right-radius:3em
}
 .top .top-color .hash-2{
    position:relative;
    transform:rotate(-45deg);
    top:2.4vw;
    left:7.6vw;
    height:2.4vw;
    width:.1vw;
    background-color:transparent;
    border-right:.25em solid #444;
    border-top:.1em solid #444;
    border-top-right-radius:3em;
    border-bottom-right-radius:3em
}
 .band{
    overflow:hidden;
    display:flex;
    align-items:center;
    height:3.8vw;
    width:13.8vw;
    margin-bottom:.7vw
}
 .band .band-color{
    background-color:red;
    border-top-right-radius:7.6vw;
    height:11.4vw;
    width:16vw
}
 .brim{
    overflow:hidden;
    display:flex;
    align-items:center;
    height:2.5vw;
    width:30vw;
    margin-bottom:.5em
}
 .brim .brim-color{
    background-color:gold;
    border-top-right-radius:20vw;
    height:3vw;
    width:30vw
}
 #pir{
    color:red
}
#gamePlay{
    display: flex;
}
    